/* Body */
body {
	width: 100%;
	height: 100%;
}

.app-body {
	position: relative;
	height: 80vh;
	overflow-y: scroll;
	width: 100%;
	overflow: hidden;
}

/* Dark mode */
div.darkmode {
	display: inline-block;
	font-size: 1.5rem;
	cursor: pointer;
}

.nav-link,
.fa-circle-chevron-down {
	color: black;
}

body.dark .darkmode .light,
body:not(.dark) .darkmode .dark {
	display: none;
}


/* nav items */
.nav-link {
	font-size: 18px;
}



/* Dropdown arrow*/
.dropdown-toggle::after {
	display: none;
}


/* Type picker (search) */
.type-picker {
	width: 10vw;
}

/* Cards */
.card-img-top {
	width: 15vw;
}