/* Body */
body {
	width: 100%;
	height: 100%;
}

.app-body {
	position: relative;
	height: 80vh;
	overflow-y: scroll;
	width: 100%;
	overflow-x: hidden;
	padding: 10px 10px 10px 10px;
}

/* Dark mode */
div.darkmode {
	display: inline-block;
	font-size: 1.5rem;
	cursor: pointer;
}

.nav-link,
.fa-circle-chevron-down {
	color: black;
}

body.dark .darkmode .light,
body:not(.dark) .darkmode .dark {
	display: none;
}

/* list items */
.accordion-collapse {
	background-color: #343a40;
}

.list-group-item {
	padding: 0;
	border: 0;
	background-color: inherit;
}

/* nav items */
.nav-link {
	font-size: 18px;
}


/* Type picker (search) */
.type-picker {
	width: 10vw;
}

/* Cards */

.card-group {
	width: fit-content;
}

.card-group .card:first-child {
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
}

.card-group .card:last-child {
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}

.card-img-top {
	width: 15vw;
}

/* anchor */
a {
	text-decoration: none;

}

a:link,
a:hover,
a:active {
	text-decoration: none;
}

/* Card header*/

.card-header {
	font-size: large;
}

.card-header i {
	font-size: larger;
}

/*preview*/
.img-preview {
	width: 150%;
	height: 200%;
}

/* Smaller screens*/

@media only screen and (max-width: 957px) {
	.btn {
		margin-bottom: 10px;
	}

}

@media only screen and (max-width: 580px) {
	.card-group .card {
		border-radius: 25px;
	}

}


/* button */
.btn {
	border-radius: 15px;
}

/* accordion */
.accordion-button,
.accordion-collapse {
	border-radius: 35px;
}

.accordion [aria-expanded="false"] {
	background-color: #eee;
}