<div class="card border-success border-2 mb-3 text-dark bg-light" style="border-style:solid;border-radius:25px;">
    <div class="card-header fs-5 bg-transparent border-success border-2">
        <i class=""></i>
        <span class="fa-pull-right close-icon text-danger"><i class="fa fa-times"></i></span>
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        </p>
    </div>
    <div class="card-footer bg-transparent border-success border-2">
        <div class="btn btn-dark text-light">
            <a class="text-light" href="" target="_blank">Source <i class="fa-solid fa-code-fork"></i>
            </a>
        </div>
        <div class="btn btn-dark text-light text-li" data-bs-toggle="modal" data-bs-target="">Preview <i
                class="fa-solid fa-eye"></i>
        </div>
    </div>
</div>