/* css for changing default behavior, custom classes etc */
/*anchor*/
a {
    text-decoration: none;
}

a:link,
a:hover,
a:active {
    text-decoration: none;
}

/*dropdown */
.dropdown-menu {
    overflow: hidden;
}

/*button*/
.btn {
    border-radius: 15px;
}

/*for smaller viewport*/
.btn {
    margin-bottom: 10px;
}

/*Modal*/
.modal [aria-hidden="true"] {
    display: none;
}

.modal-backdrop {
    z-index: -1;
}

/*Custom border*/
.white-border {
    border-color: white;
}

.yellow-border {
    border-color: #ffc107;
}

.purple-border {
    border-color: RebeccaPurple;
}

.blue-border {
    border-color: royalblue;
}

.dark-border {
    border-color: #292b2c;
}