/*list items*/
.list-group {
	border-left-style: solid;
	border-width: 12px;
	margin-left: 10px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.list-group-item {
	background-color: inherit;
}