/* css for body and content tags as well as dark mode */
/*columns*/
.col:empty {
    display: none;
}


.brightness-full {
    filter: brightness(1);
}

.brightness-dim {
    filter: brightness(0.8);
}

/*Modal*/
.modal [aria-hidden="true"] {
    display: none;
}